
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:wght@400;500&display=swap');

.ya-logo{
    font-family: 'Lobster', cursive;

}
.ya-p-font{
    font-family: 'Poppins', sans-serif;

}

 

/*----- colors ------*/
.ya-primary{
   color: #289BDE;
}
.ya-price-color{
    color:#289BDE;
}
.ya-p-color{
    color: #777777;
}
 

.ya-ready-section{
    background-color: #289BDE;
}
.ya-ready-btn{
    background-color: white;
    color: #289BDE;
}
.ya-btn{
    background-color: #289BDE;
    color: white;
    
}

/* Mobile device */
@media screen and (max-width: 576px) {
    .ya-carusel-sm-header{
        font-size: 20px;
    }
    .ya-carusel-sm-p{
        font-size: 10px;
    }
}

/* Tab-device */
@media screen and (min-width:577px) and (max-width:768px) {
    .ya-carusel-md-header{
        font-size: 30px;
    }
    .ya-carusel-md-p{
        font-size: 16px;
    }
}
 