
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:wght@400;500&display=swap');

.ya-logo{
    font-family: 'Lobster', cursive;

}
.ya-p-font{
    font-family: 'Poppins', sans-serif;

}

.ya-carousel-caption{
    font-size: 07vh;
}

/*----- colors ------*/
.ya-primary{
   color: #289BDE;
}
.ya-price-color{
    color:#289BDE;
}
.ya-p-color{
    color: #777777;
}


 